@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html, body {
    padding:0;
    margin:0;
}

* {
    font-family: 'Questrial', sans-serif;
}

:root {
    --white:#FFFFFF;
  --green:#55B259;
  --red:#E47272;
  --gray1:#4F535B;
  --gray2:#2a2b2e;
  --gray3:#202124;
  --blue1:#8AB4F8;
  --blue2:#5C88D0;
}

/* esri override */
.esri-view .esri-view-surface--inset-outline:focus::after {  
    outline: none !important;
}

.esri-attribution {
    display: none !important;
}

.esri-view .esri-ui-top-left {
    top:auto;
    left:auto;
    bottom:-10px !important;
    right:15px !important;
}

.esri-view .esri-ui-top-right {
    top:auto;
    left:auto;
    bottom:60px !important;
    right:75px !important;
}

.esri-view .esri-ui-top-right .esri-editor, .esri-widget--button, .esri-zoom, .esri-navigation-toggle {
    border-radius: 5px !important;
}

.esri-popup__main-container {
    border-radius: 5px !important;
    background-color: var(--gray2) !important;
}

.esri-popup__button:hover, .esri-popup__header-container--button:hover{
    background-color: var(--gray3) !important;
}

.esri-popup__main-container *, .esri-ui-top-left .esri-icon, .esri-navigation-toggle__button, .esri-compass, .esri-ui-top-right *{
    color:var(--white) !important;
}

.esri-feature__main-container, .esri-popup__navigation, .esri-popup__pointer-direction, .esri-ui-top-left *, .esri-ui-top-right *{
    background-color: var(--gray2) !important;
}

.esri-popup--is-docked-top-right {
    position: fixed !important;
    top:auto !important;
    right:auto !important;
    bottom:0px !important;
    left:70px !important;
}

.loading-container {
    padding: 0;
    margin:0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    background-color: #000000;
    background-image: url("https://i.ibb.co/QXnLqpQ/download-3-1.jpg");
    background-size: cover;
}

.loading-container .loading-text-container {
    position: absolute;
    top:30vh;
    left:10vw;
    color:white;
}

.loading-container h1 {
    font-size: 72px;
}

.loading-container h2 {
    font-size: 24px;
    margin-top: -10px;
}

.body-container {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

.globe-container {
    z-index: 0;
    width: 100vw;
    height: 100vh;
}

.navbar-container {
    position: fixed;
    top:0;
    left:0; 
    width: 55px;
    background-color:var(--gray2);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.4vh 0;
    z-index: 100;
}

.link-container {
    width:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-container {
    position: fixed;
    top:0;
    transition: 1s cubic-bezier(.69,.09,.37,.94);
    width: 425px;
    background-color:var(--gray3);
    height: 100vh;
    z-index: 50;
}

.title-container {
    position: fixed;
    top:20px;
    left:90px; 
    color:white;
}

.title-container h1 {
    font-size: 30px;
}

.title-container h2 {
    font-size: 16px;
}

.login-container {
    position: fixed;
    top:30px;
    right:30px; 
}

.login-container button {
    background-color: var(--gray3);
    padding:0 20px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    color: var(--white);
}

.species-card-container {
    position: fixed;
    top:100px;
    right:30px;
    width: 300px;
    background-color: var(--gray3);
    border-radius: 10px;
    padding-bottom: 20px;
    transition: 0.5s cubic-bezier(.69,.09,.37,.94);
    overflow: hidden;
    transform-origin:280px 20px;
}

.species-card-toggle {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top:100px;
    right:30px;
    width: 40px;
    height: 40px;
    background-color: var(--gray3);
    border-radius: 40px;
    transition: 0.2s cubic-bezier(.69,.09,.37,.94);
    transition-delay: 0.7s;
}

.species-card-container img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 150px;
}

.modify-layer-container {
    position: fixed;
    right: 90px;
    bottom: 30px;
}
.modify-layer-container button {
    background-color: var(--gray3);
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--white);
}